*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.vh-100{
    height: 100vh;
}
.d-flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.gap-30{
    gap: 30p;
}